* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 2rem; /* Add some padding to the sides */
    min-height: 100vh;
    
}

.container h1 {
    font-weight: 700;
    text-align: center;
    font-size: 4.5rem;
    text-decoration: underline;
    letter-spacing: .7rem;
}

.container .nom{
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600;
}

.container .nom .diplome{
    margin-right: 14.5rem;
}

.container .civil{
    max-width: 68rem;
    margin-top: 2rem;
    font-weight: 500;
}

.container .civil .info-civil{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

h2{
    font-size: 2.7rem;
    text-transform: capitalize;
    text-decoration: underline;
    margin-left: 3rem;
}


.container .civil .info-civil .infos{
    flex: 1 1 25rem;
    font-size: 1.7rem;
    margin-bottom: -2rem;
}

.container .civil .info-civil .infos .desc{
    font-weight: 600;
}

.container .cursus-scolaire,
.experiences-professionneles{
    margin-top: 2rem;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr{
    border: 2px solid black;
    text-align: center;
}
th{
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
    margin-left: 4rem;

}

td {
    padding: 8px;
    text-align: left;
    font-size: 1.7rem;
}

/* Add border to the end of each column */
th:last-child, td:last-child {
    border-right: 2px solid black;
}

th:nth-child(2), td:nth-child(2) {
    border-right: 2px solid black;
}

th:nth-child(1), td:nth-child(1),th:nth-child(3), td:nth-child(3)  {
    border-right: 2px solid black;
}

.global{
    margin: 1rem 0;
}
.task-desc{
    margin-left: 2rem;
    
}

.task{
    margin-bottom: 1rem;
}

.task-desc span{
    margin-right: 2rem;
}

.task-desc p{
    font-size: 1.7rem;
    font-style: italic;
}

.detail span{
    font-style: normal;
}

.tas{
    font-size: 1.7rem;
}

.about{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.about{
    font-size: 1.6rem;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    th, td {
        font-size: 14px; /* Reduce font size for smaller screens */
    }
}table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

span{
    font-weight: bold;
}

.sub-title{
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.exp-title{
    margin-left: 3rem;
    
}

.exp-title .task{
    font-weight: 600;
    font-size: 2rem;
    text-decoration: underline;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    th, td {
        font-size: 14px; /* Reduce font size for smaller screens */
    }
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        width: 90%; /* Adjust the maximum width for smaller screens */
    }
}
